body{
    background-color:hotpink ;
    border-style: solid;
    border-width:15px;
    border-radius: 30px;
    border-color: purple;
    margin: 30px;
    padding-bottom: 310px;
}

h1{
    text-align: center;
    color:mistyrose;
    font-variant: small-caps;
}
#btn_save{
    background:deeppink;
    color:mintcream;
    height:30px;
    width:70px;
    font-size: 20px;
    border-style:solid;
    border-width: 3px;
    border-color:whitesmoke;

}